body{
   margin:0;
   
    background-color:whitesmoke;
    color:rgb(98, 97, 97);
    font-size: 20px;
    font-family: monospace;
    max-width: 100%;
    min-width: 100%;
    height:auto;
    overflow-x: hidden;

}
#darkmode {
  position: relative;
  top: -150px;
  right: -1280px;
  width: 75px;
  height: 75px;
}
header{
    max-width:100%;
    min-width:100%;
    height:auto;
    padding:5%;
    margin:0;
}
main{
    
    background-color:rgb(123, 114, 114);
    margin:0;
}

.object {
  flex: 1 1 20%; 
  min-width: 280px;
  max-width: 280px;
  border: 1px dashed black ;
}

.object img {
  width: 80%;
  min-height:340px;
  max-height:340px;
  object-fit: contain; /* or 'contain' to fit entirely */
  border-radius: 8px;
}   
ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
}   